html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  @apply bg-gray-900 text-white dark:(bg-gray-900 text-gray-200);
}

i[class*="i-"] {
  display: inline-block;
  vertical-align: text-top;
}
